<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Listener</title>
</head>
<body>
    <div id="eventListen">
        <!-- <button @click="run()">Click</button> -->
        <!-- <h3>{{myNumber}}</h3>
        
        <button @click="inc()">+ </button>
        <button @click="dec()">- </button>
        <p v-if="myNumber== 0">It is Zero.</p>
        <p v-if="myNumber > 0">It is Plus Number.</p>
        <p v-if="myNumber < 0">It is Minus Number.</p> -->
        <input type="text" v-model="myText" @keyup.enter="submit()">
        <button @click="submit()">Submit</button>
        <h5>{{myText}}</h5>

    </div>
</body>
<script src="js/vue.js"></script>
<script>
    let app = new Vue ({
        el: '#eventListen',
        data : {
            message : 'event listener',
            myNumber : 0,
            myText : '',
        },
        methods : {
            run(){
                alert('you are learning vue event listener....');
            },
            inc(){
                this.myNumber++ ;
            },
            dec(){
                this.myNumber-- ;
            },
            submit(){
                console.log(this.myText);
                this.myText = '';
            }
        }
    })
</script>
</html>